
 
 
<div class="m-footer">
    <div class="row footer-top-row">
        <div class="footer-top-left">
                <div>Developed By</div>
                <div class="footer-top-row-image-wrapper">
                      <img class ="img-responsive" src = "/static/assets/images/footer_logo.png"/>
                </div>
                
        </div>
        <div class="footer-top-right">
                <div>Powered By</div>
                <div class="footer-top-row-image-wrapper">
                      <img class ="img-responsive" src = "/static/assets/images/s.png"/>
                </div>
        </div>
            

    </div>
    <div class ="row footer-bottom-row">
          <div class="footer-bottom-content">
                <pre>© 2019 Mittelstand Consulting LLC <br><a href="https://data4tra.de/privacy" target="_blank"class="footer-link">Privacy Policy</a> | <a href="https://data4tra.de/terms" target="_blank" class="footer-link">Terms of Service</a>
                </pre>
          </div>
    </div>
     
</div>

  