
 
 
<div class="m-footer">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-2 col-left" >
          <div>
              <p>Developed By</p>
              <img height="60px"
              width = "120px"
              class ="img-responsive" src = "/static/assets/images/footer_logo.png"/>
          </div>
            
           
          </div>
          <div class="col-md-2 col-right">
            <div>
                <p>Powered By</p>
                <img height="60px"
                width = "120px"
                class ="img-responsive" src = "/static/assets/images/s.png"/>
            </div>
            
             
            </div>
            <div class="col-md-4"></div>

      </div>
      <div class ="row">
       
            
         
          <div class="col-md-4"></div>
          <div class="header col-md-4">
              <pre>© 2019 Mittelstand Consulting LLC <br><a href="https://data4tra.de/privacy" target="_blank"class="footer-link">Privacy Policy</a> | <a href="https://data4tra.de/terms" target="_blank" class="footer-link">Terms of Service</a>
              </pre>
           
            
             
             
            </div>
            <div class=" col-md-4"></div>
      </div>
     
</div>

  